<nav>
  <ul class="nav nav-tabs nav-stacked pull-left">
    <li><%= link_to "Kezdő oldal", root_path %></li>
    <li><%= link_to "Hitel igénylés", commonform_path %></li>
    <li><%= link_to "Segitség", help_path %></li>
    <li><%= link_to "Rólunk", about_path %></li>
  </ul>
</nav>